* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:-webkit-any-link {
    text-decoration: none;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
    font-size: 1em;
}
.navigation #right_part {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navigation #right_part a{
    color: #444;
    font-size: 1.4em;
    margin: 0px 30px;
}
.navigation #left_part {
    font-size: 1.4em;
    border: 1px solid #444;
    padding:6px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation #left_part a {
    margin:0px 10px;
    color: #444;
}
.navigation #left_part i {
    margin:7px;
    color: #444;
}
/* Slider */
#slider{
    width: 97.9%;
    border-radius: 10px;
    height: 620px;
    margin: auto;
    margin-top: 5px;
    position: relative;
    background-color: #33333317;
}
.imgg{
    width: 85%;
    height: 620px;
    margin: 0px auto;
    padding: 0px auto;
    display: none;
    border-radius: 10px;
}
#im1{
    display: block;
}
.arrow{
    font-size: 35px;
    font-weight: 300;
}
.arrow:hover{
    color: rgba(0, 0, 0, 0.676);
    cursor: pointer;
}
#right{
    position: absolute;
    top: 290px;
    right: 45px;
}
#left{
    position: absolute;
    top: 290px;
    left: 45px;
}
.icon{
    color: rgba(255, 255, 255, 0.31);
}
.icon:hover{
    cursor: default;
    
}
#rrr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    margin-bottom: 60px;
}
#i1{
    color: rgba(0, 0, 0, 0.664);
}
/* Shoping card  */
.cards{
    padding: 20px,10px;
}
.shoping_card{
    text-align: center;
    background-color: #e6e6e6;
    box-shadow: 0px 2px 8px 0px rgb(255,255, 255,0.2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10PX;
}
.shoping_card .image{
    margin-top: 30px;
    position: relative;
}
.shoping_card .image img{
    width: 80%;
}
.shoping_card .image .off{
    position: absolute;
    background-color: #e74c3c;
    color: rgb(255, 255, 255);
    top: 10px;
    left:10px;
    padding: 3px 5px;
    font-size: 0.9em;
    border-radius: 5px;
}
.shoping_card .image .stars{
    position: absolute;
    top: 10px;
    color: rgb(255, 222, 77);
    right:40px;
    font-size: 0.8em;
}
.shoping_card .title{
    margin: 15px;
    color: #333;
}
.shoping_card .button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}
.shoping_card .button .right{
    font-weight: bold;
    color: #666;
}
.shoping_card .button .left{
    display: flex;
    width: 70px;
    justify-content: space-around;
    align-items: center;
}
.shoping_card .button .left .shop{
    font-size: 1.3em;
}
.shoping_card .button .left .favorite{
    font-size: 1.3em;
}
.shoping_card:hover{
    font-size: 1.15em;
    transition: 0.5s;
} 
.shoping_card .button .right{
    display: flex;
    flex-direction: column;
}
.shoping_card .button .right .p1{
    font-size: 1em;
    font-weight: bold;
    color: #666;
}
.shoping_card .button .right .p2{
    font-weight: 100;
    font-size: 0.8em;
    color: #66666686;
    text-decoration: line-through;
}
/* Bundle card */
.bundle{
    text-align:  center;
    background-color: #e6e6e6;
    box-shadow: 0px 2px 8px 0px rgb(255,255, 255,0.2);
    margin: 10px 15px;
    border-radius: 5px;
    padding: 10PX;
}
.bundle .image {
    padding: 20px;
    position: relative;
}
.bundle .image img{
    width: 37%;
}
.bundle .image .plus{
    font-size: 2.5em;
    margin: 15px;
}
.bundle .description{
    position: relative;
    padding: 20px;
}
.bundle .description .offer{
    position: absolute;
    background-color: #e74c3c;
    color: rgb(255, 255, 255);
    top: 5px;
    left:10px;
    padding: 3px 5px;
    font-size: 1.7em;
    border-radius: 5px;
}
.bundle .description .title{
    margin: 15px;
    color: #333;
    font-size: 1.9em;
}
.bundle .description .t1{
    margin-top: 70px;
}
.bundle .description .t2{
    margin-bottom: 170px;
}
.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.description #off{
    position: absolute;
    background-color: #e74c3c;
    color: rgb(255, 255, 255);
    padding: 3px 5px;
    font-size: 1.5em;
    border-radius: 15px;
    top: 270px;
    left: 200px;
}
.description .button .shop{
    font-size: 2.3em;
    color: #333;
    padding: 8px;
}
.bundle .button .right{
    display: flex;
    flex-direction: column;
}
.bundle .button .right .p1{
    font-size: 1.8em;
    font-weight: bold;
    color: #666;
}
.bundle .button .right .p2{
    font-weight: 100;
    font-size: 1.2em;
    color: #66666686;
    text-decoration: line-through;
}
.bundle:hover{
    font-size: 1.15em;
    transition: 0.5s;
}
i:hover{
    color:#444444ad;
}
/* Fotter */
.social{
    margin: auto 15px;
    background-color: #33333317;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px 7px 0px 0px;
    padding:25px;
}
.icons{
    flex: 3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.3em;
}
.icons i:hover{
    font-size: 1.3em;
    transition: 0.75s ease-in-out;
}
.social span{
    flex: 1;
    font-size: 2.3em;
}
.des{
    margin: 0px 10px 15px 15px;
    border-radius: 0px 0px 7px 7px;
    background-color: #33333317;
    text-align: center;
    padding:25px;
    font-size: 2.3em;
}